<br>
<h3><%= @title %></h3>
<br>

<table class="table table-bordered table-hover">
  <tbody>
  <tr>
    <td class="active">Title</td>
    <td class="active"><%= @title %></td>
  </tr>

  <tr>
    <td class="active">Release date:</td>
    <td class="active"><%= @released %></td>
  </tr>

  <tr>
    <td class="active">Length:</td>
    <td class="active"><%= @runtime %></td>
  </tr>

  <tr>
    <td class="active">Artwork:</td>
    <td class="active"><img src =<%= @poster %></img></td>
  </tr>
</tbody>
